
<div class="grande">
    <div class="medianoarriba">
        <div class="izquierdaarriba">

        </div>
        <div class="derechaarriba">

        </div>
    </div>
    
    <div class="medianoabajo">
        <div class="izquierdabajo">

        </div>
        <div class="derechaabajo">

        </div>
    </div>
</div>