@using BiblioteccAccenturE.Models

@model Autor
@{
    ViewBag.Title = "ErrorEliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    BiblioteccAccenturEEntities dbEditar = new BiblioteccAccenturEEntities();
    List<Autor> autores = dbEditar.Autor.OrderBy(aut => aut.NombreYApellido).ToList();
    List<Genero> generos = dbEditar.Genero.OrderBy(gen => gen.NombreGenero).ToList();
    List<Libro> libros = dbEditar.Libro.OrderBy(lib => lib.Titulo).ToList();
    List<Editorial> editoriales = dbEditar.Editorial.OrderBy(edit => edit.NombreEditorial).ToList();
    Editorial editorial = this.ViewBag.Editorial;

}

<div class="contenedorError">
    <div class="texto">
        <h1>Error De Gestion</h1>
        @Html.ActionLink("Ir a Autores", "ListadoAutores", "Autor", null, new { @class = "btn btn-primary" })
        <p>NO SE PUEDE ELIMINAR EL AUTOR SELECCIONADO</p>
        <p>HAY LIBROS EN LA BASE SE DATOS PERTENECIENTES AL MISMO </p>
    </div>
    <div class="imagen">

    </div>



</div>