@model IEnumerable<BiblioteccAccenturE.Models.Autor>
@{
    ViewBag.Title = "ListadoAutores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">LISTADO DE AUTORES</h1>
<div>
    
    <div id="separador">

    </div>
    <div>

        <table class="table">
            <thead>
                <tr id="encabezado">
                    <th style="font-size:xx-large">AUTOR</th>

                    <th><div class="text-right">
    @Html.ActionLink(" ", "AgregarAutor", null, new
                            {
                                @class = "glyphicon glyphicon-plus",
                                style = "font-size:1.5em"
                            })
</div></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var aut in this.Model)
                {
                    <tr>
                        <td>@Html.ActionLink(aut.NombreYApellido, "LibrosPorAutor", "Libro", new { Id = aut.Id_Autor}, null)</td>
                        <td class="text-right">
                            @Html.ActionLink(" ", "EditarAutor", new { Id = aut.Id_Autor },
                            new
                            {
                                @class = "glyphicon glyphicon-pencil",
                                style = "font-size:1.5em"
                            })
                            &nbsp &nbsp &nbsp
                            @Html.ActionLink(" ", "EliminarAutor", new { Id = aut.Id_Autor },
                            new
                            {
                                @class = "glyphicon glyphicon-trash",
                                style = "font-size:1.5em"
                            })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="separador">

    </div>
</div>
